<!DOCTYPE HTML>
<html lang=en>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>$$title$$ - Mustard Mine</title>
<link rel="stylesheet" href="$$static||stillebot.css$$">
<link rel="icon" href="/static/MustardMineSquavatar.png">
<script type=module src="$$static||utils.js$$"></script>
$$head_scripts$$</head>
<body>
$$banner||$$
<nav id=topbar>$$menubutton||$$ $$backlink||$$ $$logout||$$</nav>
$$menunav||$$
$$js_variables||$$
<main>$$content$$</main>
</body>
</html>
