/* Styling across all StilleBot pages */
* {box-sizing: border-box;}

td {padding: 0.25em 0.5em;}

table {border-collapse: collapse;}

input {background: #ffe;}
input[type=submit] {background: inherit;}

dialog {
	position: fixed;
}
@supports (-moz-appearance:none) {
	/* Firefox doesn't automatically position dialogs properly. */
	/* It's a pain to try to center them, so just snap to the top. */
	dialog {top: 0;}
}
/* Create a scroll context inside dialogs */
dialog > section {
	display: flex;
	flex-direction: column;
}
dialog > section > header {
	display: flex;
	justify-content: space-between;
}
dialog > section > header > h3 {
	margin: 0.5em 0;
}
dialog > section > div {
	overflow-y: auto;
	max-height: 70vh;
}
.dialog_cancel {
	position: relative;
	right: -8px; top: -8px;
}

.emotedtext {
	line-height: 35px;
}

main {
	max-width: 1200px;
	margin: auto;
	background-color: #eeeeee;
	padding: 0 0.5em;
}

.widetext {width: 100%;}

h1,h2,h3 {
	max-width: max-content;
	margin-left: auto; margin-right: auto;
}

.flagstable {min-width: 700px;}

.simpletext {display: flex;}
.simpletext input {flex-grow: 1;}
.simpletext button {flex-grow: 0;}

.optedmsg {
	padding: .5em;
	margin: .5em;
}

.iftrue {border-color: #0bb;}
.iffalse {border-color: #a08;}

nav a {
	font-size: smaller;
}

/* Hype train styles */
#status {
	background-color: #a0a0ff;
	font-size: 125%;
}
#status.active {
	background-color: #a0ffa0;
	font-weight: bold;
}
:root {
	/* Define some colours that can also be used in a gradient */
	--hype-level1: #ffffd0; /* Progressively more vibrant colours as you go up the levels */
	--hype-level2: #ffffb0; /* Or #ffffa0 */
	--hype-level3: #ffff90; /* Or #fff870 for a more 'gold' colour */
	--hype-level4: #ffff70; /* Or #fff040 */
	--hype-level5: #ffff50; /* Or #ffe820 */
	--hype-level6: #ffff00;
}
#nextlevel.level1 {background-color: var(--hype-level1);}
#nextlevel.level2 {background-color: var(--hype-level2);}
#nextlevel.level3 {background-color: var(--hype-level3);}
#nextlevel.level4 {background-color: var(--hype-level4);}
#nextlevel.level5 {background-color: var(--hype-level5);}
#nextlevel.level6 {background-color: var(--hype-level6);}
/* It'd be really cool to get the conductors' chat colours, but probably impractical */
#cond_bits.present, #cond_subs.present {background-color: #e060e0;}

tr.dirty {
	background-color: #ffeeee;
}

#templates {
	min-height: 30em;
}

#templates tbody tr:nth-child(odd) {
	background: #eef;
	cursor: pointer;
}

#templates tbody tr:nth-child(even) {
	background: #eff;
	cursor: pointer;
}

#templates tbody tr:hover {
	background: #ff0;
}

table[data-dest=""] > tr.targetrow {
	display: none;
}

table[data-builtin=""] > tr.paramrow {
	display: none;
}

/* Will be deprecated once there's a nice UI for the new way to add to a var */
table[data-dest]:not([data-dest="/set"]) > tr[data-flag="action"] {
	display: none;
}
