.streamtiles {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.streamtiles > div {
	width: 324px; /* the width of the preview image plus border size */
	margin-bottom: 1em;
}
.streamtiles ul {list-style-type: none; margin: 0; padding: 0; flex-grow: 1;}
.streamtiles li:not(.no-indent) {
	padding-left: 2em;
	text-indent: -2em;
}
.avatar {max-width: 40px;}
.inforow {display: flex; overflow-x: clip;}
.inforow .img {flex-grow: 0; padding: 0.25em;}
.hoverexpand .expanded {
	display: flex;
	position: absolute;
	opacity: 0;
	flex-wrap: wrap;
	z-index: -100;
	transition: box-shadow 0.125s;
}
.hoverexpand:hover .expanded {
	z-index: 100;
	background: white;
	border: 1px solid black;
	width: 324px;
	padding: 2px;
	box-shadow: 10px 10px 5px 0 #b8dd;
	opacity: 1;
}
.streamtitle {font-size: 85%;}
.emote {max-height: 1.25em;}
.tag {
	display: inline-block;
	padding: 0 0.125em; text-indent: 0; /* Override the general text-wrap settings from above */
	background: #ddd;
	margin-right: 0.5em;
	font-size: 80%;
}
.tag.autotag {
	font-style: italic;
}
.tagpref-3 {background-color: #d99; border: 1px solid red;}
.tagpref-2 {background-color: #ecc; border: 1px solid red;}
.tagpref-1 {background-color: #fee; border: 1px solid red;}
.tagpref0 {border: 1px solid transparent;}
.tagpref1 {background-color: #dfd; border: 1px solid green;}
.tagpref2 {background-color: #beb; border: 1px solid green;}
.tagpref3 {background-color: #9d9; border: 1px solid green;}

.tag {border: 1px solid black;} /* Ensure that .tagpref1.tag has a black border not the green one */

#sort::before {content: "Sort: "; margin: 0.5em 1em 0em -1em;}
#sort {
	display: flex;
	list-style-type: none;
}
#sort li {
	cursor: pointer;
	margin: 0.25em;
	padding: 0.25em;
	text-decoration: solid underline;
}
#sort li.current {text-decoration: double underline;}
.uptime {cursor: pointer;}
.raid-incoming {font-weight: bold;}
.raid-incoming,.raid-outgoing {cursor: pointer;}
.hide-incoming .raid-incoming {display: none}
.hide-outgoing .raid-outgoing {display: none}
.notes {margin-right: 0.5em;}
.notes.absent {filter: grayscale(1);}
main {max-width: none!important;} /* Override the normal StilleBot style */

.bcasttype {
	background-color: purple;
	color: white;
	border-radius: 50%;
}

.highlighted {
	background-color: #ffc;
	border: 1px solid #ff0;
}

.sizeborders > div {border: 2px solid transparent;}
.sizeborders > div.much_smaller     {border-color: #bfe;}
.sizeborders > div.smaller          {border-color: #cfe;}
.sizeborders > div.slightly_smaller {border-color: #dfe;}
.sizeborders > div.samesize         {border-color: #efe;}
.sizeborders > div.slightly_larger  {border-color: #efd;}
.sizeborders > div.larger           {border-color: #efc;}
.sizeborders > div.much_larger      {border-color: #efb;}

#viewerlegend {display: flex;}
#viewerlegend div {margin-right: 0.5em; padding: 0.25em 0.125em;}

#vodlengths {width: min-content;}
#vodlengths li {
	width: 500px; /* TODO: Shrink this on narrow screens (but how much?) */
	margin-right: 25px;
}
.is_following {background: #eef;}
.not_following {background: #ddf; border: 1px solid blue;}

.magic-score {
	display: inline-block;
	min-width: 2em;
	text-align: end;
}

#chat_restrictions li {
	background: red;
	color: yellow;
	font-weight: bold;
	padding: 2px 6px;
	margin: 2px 0;
	list-style-type: none;
	width: max-content;
}

.uptime .warning {
	background: yellow;
	margin-right: 0.25em;
}
.uptime .info {
	background: #aaf;
	margin-right: 0.25em;
}
.uptime .allclear {
	background: #a0f0c0;
	margin-right: 0.25em;
}
.uptime .new_frond {
	margin-right: 0.25em;
}

#raid_command {
	background: #eef;
	border: 1px solid blue;
	margin: 0 3px;
	padding: 5px;
}

.streamtiles .annotation {
	font-size: 75%;
	max-width: max-content;
	margin: auto;
	border: 1px solid rebeccapurple;
	background: #e3e3e3;
}

#raidsuggestions {
	position: fixed;
	top: 20px; right: 20px;
	background: rebeccapurple;
	color: white;
	border: 1px solid #a0f0c0;
	cursor: pointer;
}

#raiderror {
	border: 1px solid red;
	background: #fee;
	font-weight: bold;
	text-align: center;
	padding: 0.5em;
}
